@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  font-family: 'Lato', sans-serif;
}

.dashboard-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  width: 100vw;
}

.dashboard-wrapper > div {
  margin: 0 20px;
}

.target-category-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target-category-chart {
  flex-grow: 1;
  position: relative;
}

.other-categories table,
.other-categories th,
.other-categories td {
  border: 1px solid black;
}

.other-categories table {
  border-collapse: collapse;
  font-size: .8em;
}

.other-categories td {
  padding: 5px;
}

.other-categories__total {
  font-weight: bold;
}

.is-overspent {
  color: red;
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.log-out {
  position: absolute;
  right: 30px;
  top: 30px;
}

.log-out svg {
  cursor: pointer;
  width: 30px;
}
